/*MAIN STUFF*/

body {
    background-color: black;
    color: #CCCCCC;
    font-family: "Arial Black";
    font-size: 12pt;
}

header {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

footer {
    text-align: center;
}

/*CLASSES*/

.allBody {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contentPiece {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px outset #666666;
    border-radius: 32px;
    padding: 8px;
}

.articleTitle {
    color: #0066CC;
    font-size: 24pt;
    text-transform: uppercase;
}

.sidebar {
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 4px inset #666666;
    border-radius: 16px;
    padding: 8px;
    float: right;
}

.soon {
    color: #339933;
}

.onhold {
    color: #FFA500;
}

.sidebarTitle {
    color: #6699FF;
    font-size: 20pt;
    text-transform: uppercase;
}

.sidebarSubTitle {
  color: #6699FF;
  font-size: 16pt;
  text-transform: uppercase;
}

.navLink {
    padding-left: 20px;
    padding-right: 20px;
}

/*IDs*/

#live {
    width: 98%;
}

#bannerImage {
	width: 80%;
}

#liveStreamFrame {
	width: 98%;
}

/*LINKS*/

a:link {
    text-decoration: underline;
    color: #FF9933;
}

a:visited {
    text-decoration: underline;
    color: #FF9933;
}

a:hover {
    text-decoration: underline;
    color: #3399FF;
}

a:active {
    text-decoration: underline;
    color: #FF3399;
}
